In [18]:
import pandas as pd
import requests

In [19]:
df = pd.read_csv("/home/kepha/nairobi_property/data/raw_listings.csv")

In [ ]:
df.head()

In [ ]:
df.isnull().sum()

In [ ]:
(df.isnull().sum() / len(df)) * 100

In [ ]:
df[df['size_sqft'].isnull()]

In [24]:
df.columns[df.isnull().any()].tolist()

['size_sqft', 'amenities']

In [ ]:
df.duplicated().sum()

In [26]:
df['location'].value_counts().head(10)

location
Westlands      262
Kilimani        87
Kileleshwa      47
Syokimau        22
Lavington       13
Runda           10
Riverside        9
Kitisuru         8
Parklands        8
Kiambu Road      8
Name: count, dtype: int64

In [ ]:
df['location'].value_counts().tail(5)

In [ ]:
df['amenities'].value_counts().head(20)

In [ ]:
# suspiciously cheap properties

df.nsmallest(10, 'price_kes')[['location', 'bedrooms', 'price_kes']]

In [ ]:
df.nlargest(10, 'price_kes')[['location', 'bedrooms', 'price_kes']]

In [ ]:
# impossible sizes 
df[df['size_sqft'] < 100][['location', 'bedrooms', 'size_sqft']]

In [ ]:
#summary dictionary
summary = {
    'total_rows': len(df),
    'total_columns': len(df.columns),
    'missing_values': df.isnull().sum().to_dict(),
    'duplicate_rows': df.duplicated().sum(),
    'locations': df['location'].nunique(),
    'property_types': df['property_type'].unique().tolist(),
    'price_range': [df['price_kes'].min(), df['price_kes'].max()],
    'avg_price': df['price_kes'].mean()
}

for key, value in summary.items():
    print(f"{key}: {value}")

In [34]:
df['property_type'].value_counts()

property_type
Apartment    452
House         29
Townhouse     19
Name: count, dtype: int64